<div class="container mt-3">
    {{!-- <div class="row">
        <div class="col-md-1">
            <div class="demo-content"><img alt="icon" src="assets/images/hero_icon.png" /></div>
        </div>
        <div class="col-md-9">
            <div class="demo-content">
                <nav class="nav nav-pills nav-fill">
                    <a class="nav-item nav-link" href="#">Instructions</a>
                    <a class="nav-item nav-link" href="#">High Scores</a>
                    <a class="nav-item nav-link" href="#">About Us</a>
                </nav>
            </div>
        </div>
        <div class="col-md-2">
            <div class="demo-content">
                <a class="nav-item nav-link disabled" href="#">Login/Logout</a>
            </div>
        </div>
    </div> --}}
    <div class="row">
        <div class="col-md-6 demo-content rounded">
            <img id="world" src="assets/images/broken_image_1.png" alt="world">
        </div>
        <div class="col-md-6 blackboard">
            <div id="quiz" class="demo-content quiz-container">
                {{#each progress}}
                    <p>For {{points}} points:</p>
                    <h2 question_id={{id}}>{{question}}</h2>
                    <button>{{correct_answer}}</button>
                    <button>{{wrong_answer_1}}</button>
                    <button>{{wrong_answer_2}}</button>
                {{/each}}
                <div id="hero-sprite-container">
                    <div id="foxy-fixer-idle-speak">
                    </div>
                </div>
                <!-- <button id="submit-button">Submit Answers</button> -->
                <button id="submit-button" type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                    data-target="#quiz-results">
                    Submit Answers
                </button>
                <button id="next-question-button" type="button" class="btn btn-primary btn-lg">Next
                    Question</button>
                <button id="prev-question-button" type="button" class="btn btn-primary btn-lg">Previous</button>
            </div>
        </div>
    </div>
</div>